body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1b2838;
  color: #c7d5e0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
}
